<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    title Cat
  body
    main.page-main
      .container
        h1.page-main__title Ты сегодня покормил кота?
        ul.catfood-list

    script(src="js/bundle.js")

