@import './fonts.scss';

body {
  font-family: "Trebuchet MS", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  @media (max-width: 1279px) {
    width: 100%;
  }

  @media (max-width: 1119px) {
    background-image: none;
    background-color: #313131;
    padding-bottom: 0;
  }

  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 47px;
  padding-bottom: 97px;
  background: url("/img/bg-main.png") no-repeat;
}

.page-main__head {
  margin-bottom: 23px;
  text-align: center;
  color: #ffffff;
  font-family: "Exo 2", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 100;
}

.catfood-list {
  @media (max-width: 1279px) {
    width: 100%;
  }

  @media (max-width: 759px) {
    width: 320px;
  }

  display: flex;
  flex-wrap: wrap;;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;

  &__item {
    @media (max-width: 1119px) {
      margin-bottom: 80px;
    }

    @media (max-width: 799px) {
      margin-bottom: 80px;
      margin-left: 40px;
    }

    &:first-child {
      @media (max-width: 1279px) {
        margin-left: 80px;
      }

      @media (max-width: 799px) {
        margin-left: 40px;
      }

      @media (max-width: 759px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &:nth-child(3n+2) {
      @media (max-width: 1119px) {
        margin-right: 80px;
      }

      @media (max-width: 799px) {
        margin-right: 40px;
      }

      @media (max-width: 759px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &:last-child {
      @media (max-width: 1279px) {
        margin-right: 80px;
      }

      @media (max-width: 1119px) {
        margin-left: 80px;
        margin-right: 0;
      }

      @media (max-width: 799px) {
        margin-left: 40px;
      }

      @media (max-width: 759px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    position: relative;
    box-sizing: border-box;
    width: 320px;
    height: 480px;
    background-image: url("/img/bg-default.png");
    background-repeat: no-repeat;
    padding-left: 49px;
    padding-top: 24px;

    &:active {
      background-image: url("/img/bg-selected.png");
      background-repeat: no-repeat;
    }

    &:active>.catfood-list__innerwrapper {
      background-color: #d91667;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 16px;
    color: #666666;
  }

  &__heading {
    font-size: 48px;
    font-weight: 700;
  }

  &__description {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
  }

  &__innerwrapper {
    box-sizing: border-box;
    position: absolute;
    top: 384px;
    left: 224px;
    width: 81px;
    height: 81px;
    padding-top: 22px;
    border-radius: 50%;
    background-color: #1698d9;
    color: #ffffff;
    line-height: 22px;
    text-align: center;

    p:first-child {
      font-size: 42px;
      margin-bottom: 8px;
    }

    p:last-child {
      font-size: 22px;
    }
  }

  &__excerpt {

    position: absolute;
    top: 495px;
    left: 50px;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;

    a {
      color: #1698d9;
    }
  }
}

.features-list {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}
